<div class="card">
    <div class="card-header">
        Cart
    </div>
</div>

<div *ngIf="courses.length===0" class="cart-empty">
    Cart Empty!!
</div>

<div class="container-cart">
    <div class="course-card" *ngFor ="let course of courses">
        <div class="details" *ngIf="course.courseName && course.price && course.startDate">
            <h5>Course Name: {{course.courseName}}  </h5>
            <h5>Price: $ {{course.price}}</h5>
            <h5>Start Date: {{course.startDate}}</h5>
            <button class="btn btn-outline-danger"
                    style="width:80px"
                    (click)='remove(course.id)'>Delete</button>
              <!--<button class="btn btn-outline-primary"
                style="width:80px"
                [routerLink]="['/courses', courseInfo.id, 'edit']">
          Edit
        </button>-->
        </div>
        
    </div>
    <br>
    <h5>Total Cost: $ {{amount}}</h5>
</div>

<div class="col-md-4">
    
    <button class="btn btn-outline-secondary mr-3"
            style="width:80px"
            (click)="onBack()">
      <i class="fa fa-chevron-left"></i> Back
    </button>
</div>